#map-container {
  background-color: rgb(31,31,43);
  color: #FFFFFF;
  padding: 50px;
}

#map-container #plot-income {
  height: 680px;
}

#map-container .plot {
  width: 500px;
  height: 360px;
  margin: auto;
}

#map-container h2 {
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
}

#map-container .legend-axis .domain {
  stroke: #FFFFFF;
}

#map-container .legend-axis .tick line {
  stroke: #FFFFFF;
}

#map-container .legend-axis .tick text {
  stroke: none;
  fill: #FFFFFF;
}

#map-container .legend {
  width: 320px;
  margin: auto;
}

#map-container .slider-container {
  width: 420px;
  margin: auto;
}

#map-container .slider {
  margin-top: 40px;
  width: 420px;
}

#map-container .slider-labels {
  vertical-align: top;
  width: 540px;
  height: 200px;
  margin-left: -120px;
}

#map-container .slider-labels > text {
  fill: #FFF;
  text-anchor: end;
}
