/* body {
  padding: 50px;
  font-family: "HelveticaNeueLT Std","Helvetica LT Std Light", "Helvetica", "Arial", "sans-serif";
  background-color: rgb(31,31,43);
  color: #FFFFFF;
} */

#map-container {
  background-color: rgb(31,31,43);
  color: #FFFFFF;
  padding: 50px;
}

#map-container h2 {
  margin-bottom: 50px;
  margin-top: 50px;
}

#map-container #plot-income {
  height: 680px;
}

#map-container .plot-ed {
  height: 380px;
}

#map-container .legend-axis .domain {
  stroke: #FFFFFF;
}

#map-container .legend-axis .tick line {
  stroke: #FFFFFF;
}

#map-container .legend-axis .tick text {
  stroke: none;
  fill: #FFFFFF;
}
