body {
  font-family: 'Roboto', sans-serif;
}
#Title{
    align-content: center;
    font-size: 2em;
    
}
header{
    margin:50px;
}
#sankey-container {
  background-color: #FFF;
  margin: 30px;
  width: 100vw;
  align-content: center;
  align-items: center;
    
}

p{
    text-align: left;
    padding:30px;
    margin:30px;
    margin-left:0;
    font-size:1.2em;
}


#bar-container {
  background-color: #FFF;
}

#pie-container {
  color: #FFF;
  padding: 50px;
}
