body {
  font-family: 'Roboto', sans-serif;
}
#Title{
    align-content: center;
    font-size: 2em;
    margin:30px
}
#sankey-container {
  background-color: #FFF;

}


#bar-container {
  background-color: #FFF;
}

#pie-container {
  color: #FFF;
  padding: 50px;
}
