/* #bar-container h3{
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.03em;
  font-size: 15pt;
  margin-top: 40px;
  text-align: center;
} */

/* #bar-container h2{
  font-weight: 300;
  letter-spacing: 0.03em;
  font-size: 12pt;
  text-align: center;
} */

#bar-container {
  padding: 50px 0;
}

#bar-container .subtitle {
  font-weight: 300;
  letter-spacing: 0.03em;
  font-size: 10pt;
  text-align: center;
  margin-top: -20px;
  margin-bottom: 0;
/*        margin-bottom: 30px;*/
}

#bar-container h4{
  font-weight: 300;
  letter-spacing: 0.03em;
  font-size: 8pt;
  text-align: center;
  margin-top: -30px;
  margin-bottom: 30px;
  margin-left: 22px;
}

#bar-container h3{
  font-weight: 300;
  letter-spacing: 0.03em;
  font-size: 8pt;
  text-align: center;
  margin-top: -30px;
/*  margin-bottom: 30px;*/
  margin-left: 35px;
}

#bar-container h6{
  font-weight: 300;
  letter-spacing: 0.03em;
  font-size: 8pt;
  text-align: center;
  margin-top: -5px;
  margin-bottom: 80px;
  margin-left: 30px;
}

#plot-1 {
/*  border: 1px solid;*/
  /*float: left;*/
  margin-left: auto;
  margin-right: auto;
  margin-bottom:40px;

}

#plot-2 {
/*  border: 1px solid;*/
  /*float: left;*/
  margin-left: 0;
  margin-right: 0;
  margin-bottom:40px;
}

#plot-3 {
/*  border: 1px solid;*/
  /*float: left;*/
  margin-left: 0;
  margin-right: 0;
  margin-bottom:40px;
}

#plot-4 {
/*  border: 1px solid;*/
  /*float: left;*/
  margin-left: 0;
  margin-right: auto;
  margin-bottom:40px;
}

#plot-5 {
/*  border: 1px solid;*/
  /*float: left;*/
  margin-left: 0;
  margin-right: auto;
  margin-bottom:40px;
}

#plot-6 {
/*  border: 1px solid;*/
  /*float: left;*/
  margin-left: 0;
  margin-right: auto;
  margin-bottom:40px;
}

#plot-7 {
/*  border: 1px solid;*/
  /*float: left;*/
  margin-left: 0;
  margin-right: auto;
  margin-bottom:40px;
}

#bar-container svg {
/*  background-color: #f9f9f9;*/
  margin-left: auto;
  margin-right: auto;
  display: block;
  /*width: 960px;*/
  /*height: 500px;*/
}

#bar-container .bar {
  fill: #f2f2f2;
}

#bar-container .bar:hover {
  fill: #FF6138;
}


#bar-container .bar-lightgrey {
  fill: #f2f2f2;
}


#bar-container .bar-less9 {
  fill: #D0FA9A;
/*  opacity: 0.7;  */
}

#bar-container .bar-less9:hover {
  fill: #FF5B34;
}


#bar-container .bar-9to12 {
  fill: #C5ED92;
/*  opacity: 0.7;  */
}

#bar-container .bar-9to12:hover {
  fill: #E5522F;
}

#bar-container .bar-highschool {
  fill: #A3DB95;
/*  opacity: 0.7;  */
}

#bar-container .bar-highschool:hover {
  fill: #BF4427;
}


#bar-container .bar-somecollege {
  fill: #79BD8F;
/*  opacity: 0.7;  */
}

#bar-container .bar-somecollege:hover {
  fill: #7F2D1A;
}

#bar-container .bar-associatedegree {
  fill: #007864;
/*  opacity: 0.7;  */
}

#bar-container .bar-associatedegree:hover {
  fill: #571F12;
}


#bar-container .bar-advancedegree {
  fill: #005748;
/*  opacity: 0.7;  */
}

#bar-container .bar-advancedegree:hover {
  fill: #40170D;
}

#bar-container .axis--x path {
  display: none;
}

#bar-container .plot {
  /*border: 1px #c32 dashed;*/
  min-height: 20rem;
}

#bar-container .plot > svg {
  margin-left: auto;
  margin-right: auto;
}
